body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 90vh;

  font-size: 2.5em;
  font-family: "Trebuchet MS";
  color: darkslategrey;

  background: whitesmoke;
}

h1 {
  font-size: 3em;
  text-align: center;
  max-width: 80%;
}

p {
  color: grey;
}

ul {
  margin: 0;
  padding: 0;
  columns: 2;
  list-style-type: none;
}
